@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-primary: #5751e1;
    --theme-secondary: #ffc224;
    --text-body-color: #6d6c80;
    --text-heading-color: #161439;
    --color-black: #06042e;
    --color-black-1: #212529;
    --color-black-2: #141109;
    --color-blue: #050071;
    --color-blue-1: #433ec2;
    --color-blue-2: #4a44d1;
    --color-dark: #1c1a4a;
    --color-gray: #f4f4f4;
    --color-gray-1: #b2bbcc;
    --color-gray-2: #8c9ab4;
    --color-gray-3: #efeefe;
    --color-gray-4: #f7f7f9;
    --color-gray-5: #e6eaef;
    --color-gray-6: #7f7e97;
    --color-red: #e11b24;
    --color-yellow: #f8bc24;
    --color-yellow-1: #fbe67b;
    --color-white: #ffffff;
}

.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s linear;
    overflow: hidden;
}

.btn {
    user-select: none;
    background: var(--theme-primary) none repeat scroll 0 0;
    border: medium none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.12;
    margin-bottom: 10px;
    padding: 16px 30px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    vertical-align: middle;
    border-radius: 50px;
    white-space: nowrap;
    box-shadow: 4px 6px 0 0 var(--color-blue);
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.btn:hover {
    background-color: var(--theme-secondary);
    box-shadow: none;
    color: var(--color-black-1);
}

.btn:focus {
    outline: 2px solid var(--theme-primary);
    outline-offset: 2px;
}

.arrow-btn svg {
    color: var(--color-white);
    width: 15px;
    transition: all 0.3s ease-out 0s;
    transform: translateY(-1px);
}

.arrow-btn:hover svg {
    color: var(--color-black-1);
    transform: translateX(3px);
    transform-origin: left center;
}

.alltuchtopdown {
    -webkit-animation: alltuchtopdown 3s ease-in-out 0s infinite alternate;
    -moz-animation: alltuchtopdown 3s ease-in-out 0s infinite alternate;
    animation: alltuchtopdown 3s ease-in-out 0s infinite alternate;
}

@keyframes alltuchtopdown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}