.banner-bg {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 60px 0 0;
    overflow: hidden;
}

.banner-bg .line-shape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
}

img,
svg {
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.banner-content {
    margin: 60px 0 100px;
    position: relative;
    z-index: 3;
}

.banner-content .title {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-heading-color);
    margin: 0 0 12px;
}

.banner-content .title span:not(.svg-icon) {
    color: var(--color-white);
    padding: 0 13px 0 20px;
    font-weight: 700;
    z-index: 1;
}

.banner-content .title .svg-icon {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 61px;
    height: 68px;
}

.banner-content .title span:not(.svg-icon) > svg {
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: var(--theme-secondary);
}

.banner-content p {
    max-width: 90%;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-body-color);
}

.banner-btn-wrap {
    margin: 34px 0 0;
}

.banner-images {
    position: relative;
    padding-right: 118px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.banner-images .shape.big-shape {
    max-width: 618px;
    bottom: -85px;
    right: -22px;
}

.banner-images .shape {
    position: absolute;
    z-index: -1;
}

.banner-images .shape.bg-dots {
    max-width: 495px;
    right: 30px;
    bottom: -33px;
    z-index: -2;
}

.shape-transform-1 {
    transform: translate(-3.7954px, -12.0103px);
}

.shape-transform-2 {
    transform: translate(3.0118px, -10.4327px);
}

.rotateme {
    will-change: transform;
    animation-name: rotateme;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.banner-images .shape.small-shape {
    max-width: 136px;
    left: 35px;
    bottom: -24px;
    z-index: -2;
}

.banner-author {
    position: absolute;
    top: 20px;
    left: 13px;
    width: 175px;
    padding: 11px 30px 11px 14px;
    border-radius: 6px;
    background: var(--color-white);
    box-shadow: 9px 10px #0003;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.banner-author-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1500px) {
    .banner-content {
        margin: 60px 0 70px;
    }

    .banner-images .main-img {
        max-width: 100%;
    }
}

@media (max-width: 1199.98px) {
    .banner-content {
        margin: 40px 0 60px;
    }

    .banner-content .title {
        font-size: 35px;
    }

    .banner-images {
        padding-right: 105px;
    }

    .banner-images .main-img {
        max-width: 95%;
    }

    .banner-images .shape.small-shape {
        left: 10px;
    }

    .banner-author {
        top: -30px;
        left: -10px;
        width: 155px;
        padding: 10px;
    }
}

@media (max-width: 991.98px) {
    .banner-content {
        text-align: center;
    }

    .banner-content p {
        margin: 0 auto;
        max-width: 80%;
    }

    .banner-images {
        margin: 0 auto;
        justify-content: center;
        max-width: 80%;
        padding: 0;
    }

    .banner-author {
        top: 23px;
        left: -40px;
    }
}

@media (max-width: 767.98px) {
    .banner-images {
        padding: 0 10px;
        max-width: 100%;
    }

    .banner-content .title {
        font-size: 30px;
    }

    .banner-content .title span:not(.svg-icon) > svg {
        top: 0;
        left: 10px;
        width: 160px;
        height: 45px;
    }

    .banner-images .shape.bg-dots {
        max-width: 93%;
        right: 0;
        bottom: 18%;
    }

    .banner-author {
        display: none;
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
