:root {
    --color-primary: #5751E1;
    --color-secondary: #FFC224;
    --color-text-heading: #161439;
    --color-text-body: #6D6C80;
    --color-text-dark: #212529;
    --color-blue: #050071;
    --color-gray: #EFEEFE;
    --color-red: #E11B24;
    --color-white: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: .3s linear;
    overflow: hidden;
}

.btn {
    user-select: none;
    background: var(--color-primary) none repeat scroll 0 0;
    border: medium none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.12;
    margin-bottom: 0;
    padding: 16px 30px;
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    vertical-align: middle;
    border-radius: 50px;
    white-space: nowrap;
    box-shadow: 4px 6px 0 0 var(--color-blue);
    overflow: hidden;
    transition: background-color .3s, box-shadow .3s, color .3s; 
}

.btn:hover {
    background-color: var(--color-secondary); 
    box-shadow: none; 
    color: var(--color-text-dark); 
}

.arrow-btn svg {
    color: var(--color-white);
    width: 15px;
    transition: all .3s ease-out 0s;
    transform: translateY(-1px);
}

.arrow-btn:hover svg {
    color: var(--color-text-dark); 
    transform: translateX(3); 
    transform-origin: left center; 
}

@media (max-width: 1500px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}